body { padding: 20px; background-size: cover; background: lightgreen; background-repeat: no-repeat; color: yellow; }

.board { padding: 10px 20px 20px 20px; border: 2px dotted #00003c; background: purple; min-height: 100vh; border-color: lightgrey; }

button { padding: 5px 10px; margin: 10px 0; color: darkviolet; background-color: transparent; box-shadow: 0px 3px 7px #00003c; outline: none; border: 2px solid #00003c; font-size: 16px; }

button:hover { background-color: white; color: white; cursor: pointer; }

.flex { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; border-bottom: 2px solid lightgray; padding-bottom: 5px; margin-bottom: 20px; }

.flex h1 { width: 80%; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.flex .create-column { font-size: 18px; width: 50%; font-weight: bold; box-shadow: 0px 1px 4px lightgrey; border-color: lightgrey; color: white; }

.column-card-list { padding: 0; }

@media screen and (max-width: 900px) { .column-card-list { width: 20%; } }

.flex .create-column:hover { color: #000026; background-color: lightgray; }

.column-container { display: -ms-flexbox; display: flex; color: #000026; }

.column-container div { min-height: 90vh; width: 100%; background-color: rgba(211, 211, 211, 0.8); margin-right: 20px; }

.column-container div:last-of-type { margin-right: 0; }

.column-container .column { padding-left: 20px; position: relative; width: calc( 100% - 40px); background-color: transparent; }

.column .column-title { padding-right: 20px; text-align: center; }

ul { list-style-type: none; min-height: 75vh; -ms-flex-pack: center; justify-content: center; }

ul li { display: -ms-flexbox; display: flex; }

ul .card { padding: 10px 20px 10px 10px; box-shadow: 0px 1px 4px lightgrey; background-color: lightgray; margin-top: 20px; position: relative; min-height: 0; }

.card .btn-delete { display: -ms-flexbox; display: flex; top: 10px; right: 10px; left: 10px; padding: 5px; margin: 0; }
